<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
  {% include header.html %}
</head>
<body id="homepage" class="default">
<div id="container" class="set-center big-col">
  <div id="homewrap" class="container-fluid"> 

    {% include top-nav.html %}

    {{ content }}

    <div id="footer" class="legal">
      {% include footer.html %}
    </div>
    </div>
</div>

{% include google_analytics.html %}

</body>
</html>

