---
layout: default
---

<article class="post"> 
  <h1> {{ page.title }} </h1>

  {% if page.categories != empty  %}
  分类:
  {% for category in page.categories %}
    /<a href="/category/{{category|trim}}">{{ category }}</a>
  {% endfor %}
  {% endif %}
  <br/>
  
  {% if page.tags != empty %}
  标签:
  {% for tag in page.tags %}
    <span class="tag"> <a href="/tag/{{tag|trim}}">{{ tag }}</a> </span>
  {% endfor %}
  {% endif %}

  <br/>
  <div class="entry"> 
    {{ content }}
  </div>
</article>
